{% extends 'layout.html' %}

{% block title %}Railway Enquiry System{% endblock %}

{% block content %}

<div class="about">
<h1>Experience Our Service...</h1>
<p>India has some of the most spectacular and unforgettable rail journeys in the world. Here you experience a simple way to
find out everything you need to know in one easy place. There's no better way to enjoy India's outback, cities, coastal
towns and regional areas in comfort.</p>
<p>Railway Enquiry System is a one stop solution that furnishes an expanse of data-based travel discovery at your disposal. So get
connected for an inclusive Rail journey information experience!</p>
<img  class="aboutimage center" src="/static/train3.jpg">
</div>
{% endblock %}