{% extends 'layout.html' %}

{% block title %}Railway Enquiry System{% endblock %}

{% block content %}

{% if session['username'] %}
<form action='/livestation' method="POST" class="form-group">

<label for="choosestation">Choose Station</label>

<select id="station" class="form-control" name="station">
    {% if selected %}
    <option value={{selected}}>{{selected}}</option>
    {% else %}
    <option value="EMPTY">--</option>
    {% endif %}
    {% for listitem in list %}
    
    <option value={{listitem}}>{{listitem}}</option>
    {% endfor %}
</select>
{% with message = get_flashed_messages() %}
{% if message %}
<div class="alert alertmessagecustom alert-danger col-sm-4 alert-dismissible fade show" role="alert">
    {% for messages in message%}
    {{messages}}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endwith %}
<input type="submit" class="btn btn-dark">
</form>

{% if trainlist %}
<div>
    <table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Scheduled Departure</th>
        <th>Scheduled Arrival</th>
        <th>Delayed Arrival</th>
        <th>Actual Arrival</th>
        <th>Delayed Departure</th>
        <th>Actual Departure</th>
        <th>Train Number</th>
        <th></th>
    </tr>
    {% for train in trainlist%}
    <tr>
        <td>{{ train['name'] }}</td>
        <td>{{ train['schdep'] }}</td>
        <td>{{ train['scharr'] }}</td>
        <td>{{ train['delayarr'] }}</td>
        <td>{{ train['actarr'] }}</td>
        <td>{{ train['delaydep'] }}</td>
        <td>{{ train['actdep'] }}</td>
        <td>{{ train['number'] }}</td>
        <td><a href={{'/addtobookmarks/'+train['number']+'/'+selected.split('-')[0]}}>Bookmark this train no. </a></td>
    </tr>
    
    {% endfor %}
    </table>
</div>
{% endif %}

{% else %}
<h2>Please login to use these features</h2>
{% endif %}

{% endblock %}