{% extends 'layout1.html' %}

{% block title %}RES{% endblock %}

{% block content %}


<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/train1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Get Live Train Status</h2>
                <p>View current location and scheduled arrivals and departures</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/train2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Find train route's</h2>
                <p>Find route details of your preffered trains</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/train3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Live Station Data</h2>
                <p>Know all arrivals and departures in your preffered station</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
{% if message %}
<form action="/home">
    <input type="submit" value="Home" class="button default">
</form>
{% else %}
    <form action="/login">
        <input type="submit" value="Login" class="buttonlog default">
    </form>
    
    <form action="/signup">
        <input type="submit" value="SignUp" class="buttonsign default">
    </form>
{% endif %}
</div>

    
    

 

{% endblock %}